.card {
    height: 280px;
    border: none;
    border-bottom: 5px solid rgb(255, 0, 0);
    border-radius: 15px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    justify-content: center;
    text-align: center;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid red;
    margin: 20px auto 10px;
}

.designation {
    background-color: #e50914;
    color: #fff;
    font-size: 0.9rem;
    padding: 6px 12px;
    border-radius: 5px;
    display: inline-block;
    margin: 8px 35px 0px 35px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.icon-link .icon {
    width: 28px;
    height: 28px;
    object-fit: contain;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.icon-link:hover .icon {
    transform: scale(1.2);
    filter: brightness(1.3);
}